@tailwind base;
@tailwind utilities;
@tailwind components;

body{
    @apply bg-slate-700;
}

body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
} 

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
} 

@font-face{
    font-family: "Brand";
    src: url('./FatypeDEMO.otf');
}

.brand{
    font-family: "Brand";
}